{%   extends  'base.html' %} 
{% load static %}
{% block content  %}

        
        <!-- CONTENT START -->
        <div class="page-content">
        
           <!-- SLIDER START --> 
            <div class="slider-outer">
               
                <div id="welcome_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="goodnews-header" data-source="gallery" style="background:#eeeeee;padding:0px;">
                    <div id="welcome_two" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.3.1">
                        <ul>	
                        
                            <!-- SLIDE 1 -->
                            <li data-index="rs-901" 
                            data-transition="fade" 
                            data-slotamount="default" 
                            data-hideafterloop="0" 
                            data-hideslideonmobile="off"  
                            data-easein="default" 
                            data-easeout="default" 
                            data-masterspeed="default"  
                            data-thumb="{% static 'images/main-slider/slider2/slide1.jpg' %}"  
                            data-rotate="0"  
                            data-fstransition="fade" 
                            data-fsmasterspeed="300" 
                            data-fsslotamount="7" 
                            data-saveperformance="off"  
                            data-title="Slide Title" 
                            data-param1="Additional Text" 
                            data-param2="" 
                            data-param3="" 
                            data-param4="" 
                            data-param5="" 
                            data-param6="" 
                            data-param7="" 
                            data-param8="" 
                            data-param9="" 
                            data-param10="" 
                            data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="{% static 'images/main-slider/slider2/slide1.jpg' %}"  alt=""  data-lazyload="{% static 'images/main-slider/slider2/slide1.jpg' %}" data-bgposition="center center" 
                                data-bgfit="cover" data-bgparallax="4" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                                
                                <!-- LAYER NR. 1 [ for overlay ] -->
                                <div class="tp-caption tp-shape tp-shapewrapper " 
                                id="slide-901-layer-0" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                data-width="full"
                                data-height="full"
                                data-whitespace="nowrap"
                                data-type="shape" 
                                data-basealign="slide" 
                                data-responsive_offset="off" 
                                data-responsive="off"
                                data-frames='[
                                {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
                                {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
                                ]'
                                data-textAlign="['left','left','left','left']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                
                                style="z-index: 1;background-color:rgba(0, 0, 0, 0.1);border-color:rgba(0, 0, 0, 0);border-width:0px;"> 
                                </div>
                               
                                <!-- LAYER NR. 2 [ Black Box ] -->
                                <div class="tp-caption   tp-resizeme site-text-primary" 
                                id="slide-901-layer-2" 
                                data-x="['left','left','left','left']" data-hoffset="['100','120','34','30']" 
                                data-y="['top','top','top','top']" data-voffset="['80','20','20','20']"  
                                data-fontsize="['48','48','48','34']"
                                data-lineheight="['50','50','50','50']"
                                data-width="['700','700','96%','96%']"
                                data-height="['none','none','none','none']"
                                data-whitespace="['normal','normal','normal','normal']"
                            
                                data-type="text" 
                                data-responsive_offset="on" 
                                data-frames='[
                                {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},
                                {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                ]'
                                data-textAlign="['left','left','left','left']"
                                data-paddingtop="[10,10,10,4]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[10,10,10,4]"
                                data-paddingleft="[30,30,30,20]"
                            
                                style="z-index: 13; 
                                white-space: normal; 
                                font-weight: 300;
                                
                                font-family: 'Teko', sans-serif; border-left:8px solid #00173c">TEXNIK ME'YORLASH VA STANDARTLASHTIRISH 
<br>ILMIY-TADQIQOT INSTITUTI DAVLAT MUASSASASINING</div>
                                                            
                                <!-- LAYER NR. 3 [ for title ] -->
                                
                                <div class="tp-caption   tp-resizeme" 
                                id="slide-901-layer-3" 
                                data-x="['left','left','left','left']" data-hoffset="[100','120','30','30']" 
                                data-y="['top','top','top','top']" data-voffset="['235','280','280','260']"  
                                data-fontsize="['100','50','50','38']"
                                data-lineheight="['100','66','48','38']"
                                data-width="['700','700','96%','96%']"
                                data-height="['none','none','none','none']"
                                data-whitespace="['normal','normal','normal','normal']"
                            
                                data-type="text" 
                                data-responsive_offset="on" 
                                data-frames='[
                                {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},
                                {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                ]'
                                data-textAlign="['left','left','left','left']"
                                data-paddingtop="[5,5,5,5]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                            
                                style="z-index: 13; 
                                white-space: normal; 
                                font-weight: 300;
                                color:#00173c;
                                border-width:0px; font-family: 'Teko', sans-serif; text-transform:uppercase;">KOMPLEKS SINOV LABORATORIYASI</div>
                            
                         
                                <!-- LAYER NR. 5 [ for see all service botton ] -->
                                <div class="tp-caption tp-resizeme" 	
                                id="slide-901-layer-5"						
                                data-x="['left','left','left','left']" data-hoffset="['100','120','30','30']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['160','130','130','80']"  
                                data-lineheight="['none','none','none','none']"
                                data-width="['200','200','200','200']"
                                data-height="['none','none','none','none']"
                                data-whitespace="['normal','normal','normal','normal']"
                                
                                data-type="text" 
                                data-responsive_offset="on"
                                data-frames='[ 
                                {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},
                                {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                ]'
                                data-textAlign="['left','left','left','left']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                
                                style="z-index:13; text-transform:uppercase;">
                                <a href="contact-1.html" class="site-button site-btn-effect">Bog'lanish </a>
                                </div>
                                
                                
                                <!-- LAYER NR. 6 [ VIDEO ICON ] -->
                                <div class="tp-caption" 	
                                id="slide-901-layer-6"						
                                data-x="['left','left','left','left']" data-hoffset="['320','350','250','250']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['160','130','130','80']"  
                                data-lineheight="['0','0','0','0']"
                                data-width="['100','100','100','100']"
                                data-height="['none','none','none','none']"
                                data-whitespace="['normal','normal','normal','normal']"
                                
                                data-type="text" 
                                data-responsive_offset="on"
                                data-frames='[ 
                                {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},
                                {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                ]'
                                data-textAlign="['center','center','center','center']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                
                                style="z-index:13;">
                                     <a href="https://www.youtube.com/watch?v=hHrH4FFgunQ" class="mfp-video play-now">
                                        <i class="icon fa fa-play"></i>
                                        <span class="ripple"></span>
                                    </a>   
                                </div>  
                                
                                <!-- LAYER NR. 7 [ ABOUT US ] -->
                                <div class="tp-caption" 	
                                id="slide-901-layer-7"						
                                data-x="['left','left','left','left']" data-hoffset="['420','500','350','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['160','130','130','130']"  
                                data-lineheight="['none','none','none','none']"
                                data-width="['100','100','100','100']"
                                data-height="['none','none','none','none']"
                                data-whitespace="['normal','normal','normal','normal']"
                                
                                data-type="text" 
                                data-responsive_offset="on"
                                data-frames='[ 
                                {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},
                                {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                ]'
                                data-textAlign="['right','right','right','right']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                
                                style="z-index:13;">
                                     <a href="about-1.html" class="site-button-link">Batafsil</a>  
                                </div>                                                                
  
                            </li>
                                         
                             
                        </ul>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	
                    </div>
                </div>
            
            </div>
            <!-- SLIDER END -->
            
            
            <!-- TOP HALF SECTION START -->
            <div class="section-full small-device p-b40 top-half-section-outer">

				<div class="container">
                
                    <!-- IMAGE CAROUSEL START -->
                    <div class="section-content clearfix">
                    	<div class="top-half-section">
                        
                        	<div class="row d-flex justify-content-center">
                            
                                <div class="col-lg-4 col-md-6 m-b50">
                                	<div class="service-border-box">
                                        <div class="wt-box service-box-1 bg-white">
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span  class="s-title-one">Universal </span>
                                                <span  class="s-title-two">uskunalar va qurilmalar</span>     
                                            </div>
                                            <div class="service-box-content">
                                                <p>Bizning laboratoriyamiz 70 dan ortiq asbob-uskunalar bilan arzon narxlarda va hamma ham mavjud emas</p>
                                                <a href="contact-1.html" class="site-button-link">Batafsil</a>
                                            </div>
                                            <div class="wt-icon-box-wraper">
                                                <div class="wt-icon-box-md site-bg-primary">
                                                    <span class="icon-cell text-white"><i class="flaticon-industry"></i></span>
                                                </div>
                                                <div class="wt-icon-number"><span>01</span></div>
                                            </div>                                            
                                                                                        
                                        </div>
                                    </div>
                                                                        
                                </div>
                                
                                <div class="col-lg-4 col-md-6 m-b50">
                                	<div class="service-border-box">                                
                                        <div class="wt-box service-box-1 bg-white">
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span class="s-title-one">Akkreditatsiya  </span>
                                                <span  class="s-title-two">va kafolat</span>     
                                            </div>
                                            <div class="service-box-content">
                                                <p>Laboratoriya regulyatsiyaga mos keladi
                                                    O‘ZBEKISTON RESPUBLIKASI Vazirlar Mahkamasining 2020-yil 28-iyuldagi qarori.</p>
                                                <a href="s-mechanical.html" class="site-button-link">Batafsil</a>
                                            </div>
                                            <div class="wt-icon-box-wraper">
                                                <div class="wt-icon-box-md site-bg-primary">
                                                    <span class="icon-cell text-white"><i class="flaticon-conveyor"></i></span>
                                                </div>
                                                <div class="wt-icon-number"><span>02</span></div>
                                            </div>                                            
                                                                                        
                                        </div>
                                    </div> 
                                                                           
                                </div>
                                <div class="col-lg-4 col-md-6 m-b50">
                                	<div class="service-border-box">                                
                                        <div class="wt-box service-box-1 bg-white">
                                            
                                            <div class="service-box-title title-style-2 site-text-secondry">
                                                <span  class="s-title-one">Sinovdan tortib</span>
                                                <span  class="s-title-two">dizayn yechimigacha</span>     
                                            </div>
                                            <div class="service-box-content">
                                                <p>Biz birinchi qo'ng'iroqda 3 tagacha test variantini taklif qilamiz, sizning imkoniyatlaringizni, saytdagi jihozlaringizni</p>
                                                <a href="s-automotive.html" class="site-button-link">Batafsil</a>
                                            </div>
                                            <div class="wt-icon-box-wraper">
                                                <div class="wt-icon-box-md site-bg-primary">
                                                    <span class="icon-cell text-white"><i class="flaticon-robotic-arm"></i></span>
                                                </div>
                                                <div class="wt-icon-number"><span>03</span></div>
                                            </div>                                            
                                                                                        
                                        </div>
                                    </div> 
                                                                           
                                </div>
                                                                                                                          
                            </div>
                            
                        </div>
                    </div>
                </div>
                
             </div>   
            <!-- TOP HALF SECTION END -->
            <!-- <div class="container">
                <div class="row">
                    <div class="col-12">
            <iframe src="https://lex.uz/docs/6587221" width="100%" height="600px" frameborder="0"></iframe>

                    </div>
                </div>
            </div> -->
            <!-- PROJECTS SECTION START -->
            <div class="section-full p-t80 p-b50  overlay-wraper bg-cover bg-no-repeat" style="background-image:url({% static 'images/background/bg-5.jpg' %});">
				<div class="overlay-main site-bg-secondry opacity-07"></div>                                       

                        <div class="container">
                            <!-- TITLE START-->
                            <div class="section-head center wt-small-separator-outer text-center text-white">
                                <div class="wt-small-separator site-text-primary">
                                    <div  class="sep-leaf-left"></div>
                                    <div>Xalqaro test laboratoriyasi xizmatlari</div>
                                    <div  class="sep-leaf-right"></div>
                                </div>
                                <h2>Biz kompaniyalarga tez va samarali bizneslarini rivojlantirishda yordam beramiz</h2>
                            </div>
                            <!-- TITLE END--> 

						<div class="section-content">

                             <div class="masonry-wrap row mfp-gallery project-stamp clearfix d-flex justify-content-center">
                                <!-- COLUMNS 1 -->
                                <div class="stamp col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b30">
                                    <div class="project-stamp-list bg-white">
                                        <div class="filter-wrap">
   											<ul class="filter-navigation masonry-filter text-uppercase">
                                                <li class="active"><a data-filter="*" data-hover="All" href="#"><i class="flaticon-layers"></i>All Cases</a></li>
                                                <li><a data-filter=".cat-1" href="javascript:;"><i class="flaticon-oil"></i>Oil & Gas</a></li>
                                                <li><a data-filter=".cat-2" href="javascript:;"><i class="flaticon-helmet"></i>Construction</a></li>
                                                <li><a data-filter=".cat-3" href="javascript:;"><i class="flaticon-healthcare-and-medical"></i>Chemical </a></li>
                                                <li><a data-filter=".cat-4" href="javascript:;"><i class="flaticon-conveyor"></i>Industrial</a></li>
                                                <li><a data-filter=".cat-5" href="javascript:;"><i class="flaticon-scythe"></i>Agriculture</a></li>
                                            </ul>
                                        </div>                          
                                    </div>            
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="masonry-item  cat-1 col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b30">
                                    <div class="wt-box bg-white  p-a10 project-2-block">
                                        <div class="wt-thum-bx">
                                            <img src="{% static 'images/project/square/1.jpg' %}" alt="">
                                        </div>
                                        <div class="wt-info">
                                            <h4 class="wt-title m-b0 m-t15"><a href="s-oilgas.html">Oil & Gas</a></h4>
                                        </div>
                               
                                    </div>
                                </div>
                                
                                <!-- COLUMNS 3 -->
                                <div class="masonry-item  cat-2 col-xl-3 col-lg-4 col-md-6 col-sm-12  m-b30">
                                    <div class="wt-box bg-white  p-a10 project-2-block">
                                        <div class="wt-thum-bx">
                                            <img src="{% static 'images/project/square/2.jpg' %}" alt="">
                                        </div>
                                        <div class="wt-info">
                                            <h4 class="wt-title m-b0 m-t15"><a href="s-automotive.html">Automotive Manufacturing</a></h4>
                                        </div>
                            
                                    </div>
                                </div>
                                
                                <!-- COLUMNS 4 -->
                                <div class="masonry-item  cat-2 col-xl-3 col-lg-4 col-md-6 col-sm-12  m-b30">
                                    <div class="wt-box bg-white  p-a10 project-2-block">
                                        <div class="wt-thum-bx">
                                            <img src="{% static 'images/project/square/3.jpg' %}" alt="">
                                        </div>
                                        <div class="wt-info">
                                            <h4 class="wt-title m-b0 m-t15"><a href="s-civil.html">Construction</a></h4>
                                        </div> 
                            
                                    </div>
                                </div>
                                
                                <!-- COLUMNS 5 -->
                                <div class="masonry-item  cat-4 col-xl-3 col-lg-4 col-md-6 col-sm-12  m-b30">
                                  <div class="wt-box bg-white  p-a10 project-2-block">
                                        <div class="wt-thum-bx">
                                            <img src="{% static 'images/project/square/4.jpg' %}" alt="">
                                        </div>
                                        <div class="wt-info">
                                            <h4 class="wt-title m-b0 m-t15"><a href="s-mechanical.html">Industrial</a></h4>
                                        </div> 
                          
                                    </div>
                                </div>
                                
                                <!-- COLUMNS 6 -->
                                <div class="masonry-item  cat-5 col-xl-3 col-lg-4 col-md-6 col-sm-12  m-b30">
                                    <div class="wt-box bg-white  p-a10 project-2-block">
                                        <div class="wt-thum-bx">
                                            <img src="{% static 'images/project/square/5.jpg' %}" alt="">
                                        </div>
                                        <div class="wt-info">
                                            <h4 class="wt-title m-b0 m-t15"><a href="s-agricultural.html">Agriculture </a></h4>
                                        </div>
                                
                                    </div>
                                </div>
                                
                                <!-- COLUMNS 7 -->
                                <div class="masonry-item  cat-3 col-xl-3 col-lg-4 col-md-6 col-sm-12  m-b30">
                                    <div class="wt-box bg-white  p-a10 project-2-block">
                                        <div class="wt-thum-bx">
                                            <img src="{% static 'images/project/square/6.jpg' %}" alt="">
                                        </div>
                                        <div class="wt-info">
                                            <h4 class="wt-title m-b0 m-t15"><a href="s-chemical.html">Chemical </a></h4>
                                        </div>
                             
                                    </div>
                                </div>
                                
                                <!-- COLUMNS 8 -->
                                <div class="masonry-item  cat-1 col-xl-3 col-lg-4 col-md-6 col-sm-12 m-b30">
                                    <div class="wt-box bg-white p-a10 project-2-block">
                                        <div class="wt-thum-bx">
                                            <img src="{% static 'images/project/square/7.jpg' %}" alt="">
                                        </div>
                                        <div class="wt-info">
                                            <h4 class="wt-title m-b0 m-t15"><a href="s-mechanical.html">Industrial </a></h4>
                                        </div>
                           
                                    </div>
                                </div>
                                                             
                             </div>

						</div>
                                                                                        
                       </div>

                    </div>
            <!-- PROJECTS SECTION  SECTION END -->             
                             
    
            <!-- VIDEO SECTION  SECTION END -->              

            <!-- CLIENT LOGO SECTION START -->
            <div class="section-full bg-white">
                <div class="container">
                    <div class="section-content">
                    
                        <!-- TESTIMONIAL 4 START ON BACKGROUND -->   
                        <div class="section-content">
                             <div class="section-content p-tb30 owl-btn-vertical-center">
                                <div class="owl-carousel home-client-carousel-2">
                                
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w1.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w2.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w3.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w4.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w5.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w6.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w1.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w2.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w3.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w4.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w5.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w6.png' %}" alt=""></a></div>
                                        </div>
                                    </div>  
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w1.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w2.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w3.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w4.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w5.png' %}" alt=""></a></div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="ow-client-logo">
                                            <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);"><img src="{% static 'images/client-logo/w6.png' %}" alt=""></a></div>
                                        </div>
                                    </div>                                                                      
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CLIENT LOGO  SECTION End -->   
 
  
            <!-- OUR TEAM START -->
            <div class="section-full p-t80 p-b50 bg-white team-bg-section-outer bg-no-repeat bg-center" style="background-image:url({% static 'images/background/bg-map.png)">
                <div class="container">
                    <div class="section-content">
                    
                    <!-- TITLE START-->
                    <div class="section-head center wt-small-separator-outer text-center">
                        <div class="wt-small-separator site-text-primary">
                            <div  class="sep-leaf-left"></div>
                            <div> Bizning Mutaxassislarimiz </div>
                            <div  class="sep-leaf-right"></div>
                        </div>
                        <h2>Mutaxassislar jamoasi tomonidan sizga eng yaxshi imkoniyatlarimiz bilan xizmat qilamiz</h2>
                    </div>
                    <!-- TITLE END-->
                               
                    <div class="section-content">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                                <div class="wt-team-1">
                                    
                                    <div class="wt-media">
                                        <img src="{% static 'images/team/pic1.jpg' %}" alt="">
                                        <div class="team-social-center">
                                            <ul class="team-social-bar">
                                                <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                            
                                        </div>                                              
                                    </div>                                   

                                    <div class="wt-info p-a30  p-b0">
                                        <div class="team-detail  text-center">
                                            <h3 class="m-t0 team-name"><a href="team-single.html" class=" site-text-secondry">Rustamov G'ayrat</a></h3>
                                            <span class="title-style-2 team-position site-text-primary">Pudratchi</span>
                                        </div>
                                    </div>
                            
                                </div>
                            </div>
                            
                            <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                                <div class="wt-team-1">
                                    
                                    <div class="wt-media">
                                        <img src="{% static 'images/team/pic2.jpg' %}" alt="">
                                        <div class="team-social-center">
                                            <ul class="team-social-bar">
                                                <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                            
                                        </div>
                                    </div>                                   

                                    <div class="wt-info p-a30  p-b0">
                                        <div class="team-detail  text-center">
                                            <h3 class="m-t0 team-name"><a href="team-single.html" class=" site-text-secondry">Rustamov G'ayrat</a></h3>
                                            <span class="title-style-2 team-position site-text-primary">Pudratchi</span>
                                        </div>
                                    </div>
                            
                                </div>
                            </div>
                            
                            <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                                <div class="wt-team-1">
                                    
                                    <div class="wt-media">
                                        <img src="{% static 'images/team/pic3.jpg' %}" alt="">
                                        <div class="team-social-center">
                                            <ul class="team-social-bar">
                                                <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                            
                                        </div>
                                    </div>                                   

                                    <div class="wt-info p-a30 p-b0">
                                        <div class="team-detail  text-center">
                                            <h3 class="m-t0 team-name"><a href="team-single.html" class=" site-text-secondry">Rustamov G'ayrat</a></h3>
                                            <span class="title-style-2 team-position site-text-primary">Pudratchi</span>
                                        </div>
                                    </div>
                            
                                </div>
                            </div>                                                        
                            
                        </div>
                    </div>      
                        
                    </div>
                </div>
            </div>   
            <!-- OUR TEAM SECTION END --> 
            

                         
        </div>
        <!-- CONTENT END -->
        
{% endblock content %}
